@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-unsaac-primary: #9b192d;
    --color-unsaac-secundary: #e7a134;
    --color-unsaac-white: #fff;
}

@layer components {

    *{
        @apply font-mono;
    }

    .encabezado{
        background-color: var(--color-unsaac-primary);
        color: var(--color-unsaac-secundary);
    }

    h1{
        @apply text-5xl;
    }

    select{
        @apply border;
    }

    td{
        @apply border;
    }

    .curso1{
        background-color: oklch(0.637 0.237 25.331);
    }

    .curso2{
        background-color: oklch(0.705 0.213 47.604);
    }

    .curso3{
        background-color: oklch(0.769 0.188 70.08);
    }

    .curso4{
        background-color: oklch(0.795 0.184 86.047);
    }

    .curso5{
        background-color: oklch(0.768 0.233 130.85);
    }    

    .curso6{
        background-color: oklch(0.723 0.219 149.579);
    }

    .curso7{
        background-color: oklch(0.696 0.17 162.48);
    }

    .curso8{
        background-color: oklch(0.704 0.14 182.503);
    }

    .curso9{
        background-color: oklch(0.715 0.143 215.221);
    }

    .curso10{
        background-color: oklch(0.685 0.169 237.323);
    }
}